@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --background: #1f2937;
  --main-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --logo-text: #f9faf8;
  --blue: #3882f6;
  --info-text: #1f2937;
  --quote-background: #e5e7eb;
  --quote-text: #1f2937;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* STYLES */

body {
  display: flex;
  flex-direction: column;
  color: var(--main-text);
  background-color: var(--background);
}

/* HEADER */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-family: "Playfair Display", serif;
  color: var(--logo-text);
}

.logo {
  font-size: 48px;
  font-weight: bold;
}

ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

ul.links a {
  text-decoration: none;
  color: var(--secondary-text);
}
